{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
	<div class="row no-gutters bg-light position-relative">
		<div class="col-md-6 mb-md-0 p-md-4">
			<img src="bundles/nelmioapidoc/logo.png" class="w-100" alt="logo">
		</div>
		<div class="col-md-6 position-static p-4 pl-md-0">
			<h1 class="mt-0">Welcome to Bilmo API</h1>
			<p>Please, for usage documentation checkout the following links:</p>
			<p><a class="text-success" href="{{ app.request.schemeAndHttpHost ~'/api/v1/doc'}}"  target="_blank">User documentation</a> </p>
			<p><a class="text-success" href="{{ app.request.schemeAndHttpHost ~'/api/v1/doc/bilmo'}}" target="_blank">Admin documentation</a> </p>
		</div>
	</div>
</div>
{% endblock %}